/* ========================================================================= */
/* Form
/* ========================================================================= */

input, input[type="text"], input[type="password"], input[type="tel"], input[type="email"], textarea {
  @include transition;
  @include placeholder{color: $medium; font-weight:inherit;};
  @extend .normal-text;
  background-color: $light;
  border: 2px solid transparent;
  color: $dark;
  font-family: inherit;
  font-size: .778rem;
  height: 2.05rem;
  text-indent: 0.444rem;
  width: 100%;
  &:focus {
    @include transition;
    background-color: #fff;
    border: 2px solid $medium;
  }
  &:active {
    color: $dark;
  }
  &.error {
    @include placeholder{color: #fff;};
    background-color: $red;
    color: #fff;
  }
  &.disabled, &[disabled] {
    @include placeholder{color: $light;};
    background-color: $medium;
    color: $light;
  }
}

textarea {
  padding-top: .4em;
  resize: none;
}

label {
  @extend .light-text;
  font-size: 1em;
  padding: 0;
  margin: 0 0 0.3125em 0;
}

select {
  width: 100%;
  display: block;
}

.input-group {
  @include flex-container;
  background-color: $light;

  input {
    @include flex;
    float: left;
  }
  
  span {
    @extend .bold-text;
    @extend input;
    color: darken($light, 25%);
    text-indent: 0;
    width: auto;
    &:before {
      content:'';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }    
    &.prepend {
      border-right: 2px solid transparent;
      float: left;
      padding-left: .8rem;
    }
    &.append {
      border-left: 2px solid transparent;
      float: right;
      padding-right: .4rem;
    }
  }
 
}

