/* ======================================================================================== */
/* Site wide variables
/* ======================================================================================== */

// Example - colors
$dark: #656e74;
$medium: #b2b6b9;
$light: #f5f5f5;

$blue: #489cf1;
$green: #3CCE7B;
$red: #d44545;


/* ========================================================================= */
/* Media Queries
/* ========================================================================= */

// <= 599px // 33.278rem
$phone: "only screen and (max-width: 599px)";


// <= 959px // 53.278rem
$tablet: "only screen and (max-width: 959px)";


// <= 1167px //64.833rem
$desktop: "only screen and (max-width: 1167px)";


// 1168px+ // 64.889rem+
$widescreen: "only screen and (min-width: 1168px)";

