<!-- JS Asset Manifest -->
<!-- Files are processed in order from top to bottom -->
{% javascript_asset_tag global %}
- /_assets/javascripts/main.coffee
- /_assets/javascripts/views/index.coffee
{% endjavascript_asset_tag %}


{% if page.controller || if post.controller %}
  <script type="text/javascript">
    // Initialize any page specific JS
    // See '/_assets/javascripts/views/index.coffee' as an example
    $(function(){ if(AppName.views.{{page.controller}}){AppName.views.{{page.controller}}.init()} });
  </script>
{% endif %}


<!-- GA Async -->
<script type="text/javascript">
  // var _gaq = _gaq || [];
  // _gaq.push(['_setAccount', 'UA-xxxxxxxxxxx']);
  // _gaq.push(['_setDomainName', 'yoursite.com']);
  // _gaq.push(['_trackPageview']);
  // (function() {
  //   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  //   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  //   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  // })();
</script>