
/* ========================================================================= */
/* Vendor imports
/* ========================================================================= */

@import "vendor/all";

/* ========================================================================= */
/* Modules
/* ========================================================================= */

@import "modules/all";

/* ========================================================================= */
/* Site wide stying
/* ========================================================================= */

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

html {
  position: relative;
}

body, .normal-text {
  font-style: normal;
  font-weight: normal;
}

.light-text {
  font-weight: lighter;
}

b, em, strong, .bold-text {
  font-weight: bolder;
}

i, .italic-text {
  font-style: italic;
  font-weight: bolder;
}


/* ========================================================================= */
/* Base container, default width
/* ========================================================================= */

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  //width: 43.333rem;
}


/* ========================================================================= */
/* Paritals
/* ========================================================================= */

@import "partials/all";

