
/* ========================================================================= */
/* Vendor imports
/* ========================================================================= */

@import "vendor/all";

/* ========================================================================= */
/* Modules
/* ========================================================================= */

@import "components/all";

/* ========================================================================= */
/* Site wide stying
/* ========================================================================= */

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

html {
  position: relative;
}

body, .normal-text {
  font-style: normal;
  font-weight: 500;
}

.light-text {
  font-weight: 100;
}

b, em, strong, .bold-text {
  font-weight: 600;
}

i, .italic-text {
  @extend .bold-text;
  font-style: italic;
}


/* ========================================================================= */
/* Base container, default width
/* ========================================================================= */

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  
  //Media Query
  @media #{$tablet} {
    width: 100%;
  }
}


/* ========================================================================= */
/* Paritals
/* ========================================================================= */

@import "partials/all";


/* ========================================================================= */
/* Paritals
/* ========================================================================= */

@import "views/all";
