
/* ========================================================================= */
/* Vendor imports
/* ========================================================================= */

@import "vendor/all";

/* ========================================================================= */
/* Modules
/* ========================================================================= */

@import "components/all";

/* ========================================================================= */
/* Site wide stying
/* ========================================================================= */

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.062rem;
  
  @media #{$tablet} {
    font-size: 0.944rem;
  }
  @media #{$phone} {
    font-size: 0.889rem;
  }
}

html {
  position: relative;
}

h1, h2, h3 {
  font-size: 2.5rem;
  @media #{$phone} {
    br {
      display: none;
    }
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

body, .normal-text {
  font-style: normal;
  font-weight: 500;
}

.light-text {
  font-weight: 100;
}

b, em, strong, .bold-text {
  font-weight: 600;
}

i, .italic-text {
  @extend .bold-text;
  font-style: italic;
}


/* ========================================================================= */
/* Base container, default width
/* ========================================================================= */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 57.5rem;
  position: relative;
  width: 100%;
  
}


/* ========================================================================= */
/* Paritals
/* ========================================================================= */

@import "partials/all";


/* ========================================================================= */
/* Paritals
/* ========================================================================= */

@import "views/all";
