/* ========================================================================= */
/* UI Kit Specific stying
/* ========================================================================= */

.ui-kit {
  
  main {
    @include row;
    section {
      @include cols-(50%);
    }
  }
  
  h1, h2 {
    @extend .normal-text;
  }
  
  title {
    @extend h3;
    @extend .light-text;
    color: $medium;
    display: block;
    margin-bottom: 0.778rem;
    position: relative;
    &:after {
      background-color: darken($light, 5%);
      bottom: -4px;
      content: " ";
      display: inline-block;
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
  
  main > h1, .container {
    margin: 2rem 0;
    padding: 0 2rem;
  }
  
  .color-palette {
    max-width: 24rem;
    div {
      @include border-radius(4rem);
      content: "";
      display: inline-block;
      height: 4rem;
      margin: .5rem 2rem .5rem 0;
      width: 4rem;
    }
  }
  
  .dark {background-color: $dark;}
  .medium {background-color: $medium;}
  .light {background-color: $light;}
  .main-color {background-color: $blue;}
  .sub-main-color {background-color: $green;}
  .sub-color {background-color: $red;}
  
  .form-container {
    text-align: right;
    title {
      text-align: left;
    }
    label {
      @include cols-(36%);
      line-height: 2rem;
      margin: 0 4% 0 0;
    }
    button, div > input, .pend-group {
      @include cols-(60%);
    }
    .btn-primary {
      @extend .btn-blue;
    }
    .container > div {
      @include row;
      margin-bottom: 1rem;
    }
  }
  
  .sample-text {
    background-color: $light;
    padding-bottom: 2em;
    margin-bottom: 2em;
    article {
      .hero {
        background-color: $medium;
        color: #fff;
        text-align: center;
        h1 {
          padding: 1.5em 0;
        }
        h2 {
          padding-bottom: 1.5em;
        }
      }
      .container {
        margin: 0;
        padding: 0 2em;
      }
    }
  }
  
  .grid {
    > div {
      margin: 1rem 0;
    }
    .basic-grid-sample {
      @include row;
      background-color: $light;
      color: $dark;
      padding: .5rem;
      h3 {
        color: #111;
      }
      div {
        @include cols-(33%);
        background-color: $medium;
        border: 2px solid $dark;
        height: 3rem;
        padding: .5rem;
      }
    }
    .basic-grid-sample-2 {
      @extend .basic-grid-sample;
      div {
        @include row;
        margin: 0 auto;
        max-width: 50%;
      }
    }
    .nested-grid-sample {
      @extend .basic-grid-sample;
      & > div {
        @include row;
        margin: 0 auto;
        max-width: 50%;
        div {
          @include cols-(50%);
        }
      }
    }
  }
  
  @media #{$widescreen} {
    .columns-test {
      @include text-columns(3, 2em);
      text-align: justify;
      p{
        display: inline;
        margin: 0;
      }
    }
  }
}

