/* ========================================================================= */
/* Custom base resets
/* ========================================================================= */

html, body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* ========================================================================= */
/* Typography Resets
/* ========================================================================= */
 
body {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// Add <a> styles here
a {
  color: inherit;
  text-decoration: none;
  &:hover, &:active, &:visited, &:focus {
    color: inherit;
    text-decoration: none;
  }
}


/* ========================================================================= */
/* Resets
/* ========================================================================= */

ul, ol, li {
  padding: 0;
  
}

img {
  max-width: 100%;
}

@include placeholder(inherit, inherit);

/* ========================================================================= */
/*Chrome resets
/* ========================================================================= */
textarea:focus, input:focus {
  outline: 0;
}
*:focus {
  outline: 0;
}

