<!DOCTYPE html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {% include head.html %}
  </head>
  <body class="{{ page.body_class }}">

    {% include header.html %}
      <!-- start page content -->
      {{ content }}
      <!-- end page content -->
    {% include footer.html %}

    {% include javascripts.html %}
    
  </body>
</html>